
@font-face {
    font-family: 'chesstype';
    src: url('chesstype.chesstype.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fzxiaktjf';
    src: url('fzxiaktjf.ttf');
    font-weight: normal;
    font-style: normal;
}
